<div class="container m-2 col-lg-offset-2">
  <!-- 
   -->
  <app-alert
    [message]="error"
    *ngIf="error"
    (close)="OnHandleError()"
  ></app-alert>
  <div style="text-align: center" *ngIf="isLoading">
    <app-spinner></app-spinner>
  </div>
  <div class="col-xs-5 for-border" *ngIf="!isLoading">
    <div>
      <h1>Hello User!</h1>
      <h3>Welcome to our My Recipe App!</h3>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onLogin(authForm)">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input
          type="email"
          id="email"
          class="form-control"
          name="email"
          ngModel
          required
          email
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id=""
          class="form-control"
          name="password"
          ngModel
          required
          minlength="6"
        />
      </div>
      <div>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!authForm.valid"
        >
          {{ isLoginMode ? "Login" : "Sign Up!" }}</button
        ><span> | </span>
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="onSwitchMode()"
        >
          Switch to {{ isLoginMode ? "Sign Up" : "Login !" }}
        </button>
        <p>userId: {{ defaultUser }} | password: 123456</p>
      </div>
    </form>
  </div>
  <!-- <div class="col-xs-5 rightSideImg" *ngIf="!isLoading"></div> -->
</div>
