<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name" class="">Name</label>
          <input type="text" class="form-control" id="name" #nameInput/>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount" class="">Amount</label>
          <input type="number" class="form-control" id="amount" #amountInput/>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-success m-3" type="submit" (click)="onAddItem()">ADD</button>
          <button class="btn btn-danger ml-3" type="button">DELETE</button>
          <button class="btn btn-primary m-3" type="button">CLEAR</button>
        </div>
      </div>
    </form>
  </div>
</div>
